nav li .navsport {
	background-color: #FA8258;
}

.navlogin {

}

/* Large desktop */
@media (min-width: 1200px) {
    .container{
    	width: 1107px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.logo {
		img.imgset{
			display: none;
		}
	}
}
