$darkgray: #2E2E2E;
$lightgray: #464646;
$creamgray: #6A6A6A;
$brightgray: #B7B7B7;

.for-header {
	background-color: $darkgray;
}

.websitewidth{
    width: 1107px;
    margin-left: auto;
    margin-right: auto;
	background-color: white;
}

.cover-page-img {
   position: relative;
   img {
	   max-width: 100%;
	   background-blend-mode: color-dodge;
   }
}

.cover-page-text {
	h1 {
		color: white;
		position: absolute;
		bottom: 15px;
		left: 38%;
		width: 100%;
		margin: 0 auto;
		
   }
}

.for-logo{
        background-color: #D8D8D8;
}
.for-body{
        background: linear-gradient(#BDBDBD,white);
}
.for-footer{
        background-color: $darkgray;
	    color: $brightgray;
		text-align: center;
}

.navbar-inverse, .navbar-nav, .sidebar-nav{
		> li {
			> a {
				&:hover, &:focus {
					color: white;
					text-decoration: none;
					background-color: $creamgray;
				}
			}
		}
}

.navbar-inverse, .navbar-nav, .sidebar-nav{
		> li {
			> a {
				color: $creamgray;
				&:hover, &:focus {
					color: white;
					text-decoration: none;
					background-color: $creamgray;
				}
			}
		}
	}


.navsport {
	text-align: left;
  	background-color: #FA8258; 
	  &:hover {
		  background-color: #FE642E;
	  }
}

.navlogin {
	text-align: left;
  	background-color: #FA5858; 
	  &:hover {
		  background-color: #FE2E2E;
	  }
}

.side-ad {
	img {
		max-width: 100%;
	}
}

article {
	color: #5F4C0B;
	a {
		color: #FA8258;
		&:hover{
			color: #FE2E2E;
		}
	}
}

.sponsor {
	background-color: $lightgray;
	a {
		color: $brightgray;
	}
}