/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.websitewidthtop {
  width: 1107px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

header {
  background-color: #2E2E2E; }

.navbar-inverse {
  background-color: #464646;
  background-image: none;
  background-repeat: no-repeat;
  color: #B7B7B7; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #6A6A6A; }

.navsport {
  text-align: left;
  background-color: #FA8258; }

.navlogin {
  text-align: left;
  background-color: #FA5858; }

.header-segment {
  width: 1107px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }

.websitewidthlogo {
  background-color: #D8D8D8; }

.navbar-inverse .sidebar-nav > li > a:hover,
.navbar-inverse .sidebar-nav > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #6A6A6A; }

.social-logo {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.websitewidthbody {
  background: linear-gradient(#BDBDBD, white); }

.setbodywidth {
  width: 1107px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }

.side-ad img {
  max-width: 100%;
  position: relative; }

footer {
  background-color: #2E2E2E;
  color: #B7B7B7; }

.sponsor {
  background-color: #464646; }
  .sponsor a {
    color: #B7B7B7; }
