.websitewidth {
  width: 1107px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }

.cover-page-img {
  position: relative; }
  .cover-page-img img {
    max-width: 100%;
    background-blend-mode: color-dodge; }

.cover-page-text h1 {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 38%;
  width: 100%;
  margin: 0 auto; }

.for-logo {
  background-color: #D8D8D8; }

.for-body {
  background: linear-gradient(#BDBDBD, white); }

.for-footer {
  background-color: #2E2E2E;
  color: #B7B7B7;
  text-align: center; }

.navbar-inverse .navbar-nav .sidebar-nav .navbar-inverse .navbar-nav .sidebar-nav > li > a:hover, .navbar-inverse .navbar-nav .sidebar-nav .navbar-inverse .navbar-nav .sidebar-nav > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #6A6A6A; }

.side-ad img {
  max-width: 100%; }

.sponsor {
  background-color: #464646; }
  .sponsor a {
    color: #B7B7B7; }
